---
- name: Include system tools installation tasks
  ansible.builtin.include_tasks: system-tools.yml

- name: Include Tailscale installation tasks
  ansible.builtin.include_tasks: tailscale.yml

- name: Include user creation tasks
  ansible.builtin.include_tasks: user.yml

- name: Include Docker installation tasks
  ansible.builtin.include_tasks: docker.yml

- name: Include firewall configuration tasks
  ansible.builtin.include_tasks: firewall.yml

- name: Include Node.js installation tasks
  ansible.builtin.include_tasks: nodejs.yml

- name: Include Clawdbot setup tasks
  ansible.builtin.include_tasks: clawdbot.yml
